@media (max-width: 480px) {
  .content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .form_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      h1 {
        margin-bottom: 2rem;

        font: var(--bold-font);
        font-size: 1.25rem;
        color: rgba(75, 105, 253, 0.99);
      }

      div {
        position: relative;

        img {
          position: absolute;

          padding: calc((3rem - 0.5625rem) / 2);
        }

        input {
          width: 20rem;
          height: 3rem;
          padding-left: calc((3rem - 0.5625rem) / 2);
          text-align: center;

          outline: none;
          border: 2px solid #000;
          border-radius: 2rem;
          background-color: #fff;

          box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);

          font: var(--regular-font);
          font-size: 0.8rem;
          color: rgba(0, 0, 0, 0.3);
        }
      }

      button {
        width: 10rem;
        height: 3rem;
        text-align: center;

        outline: none;
        border: 2px solid #000;
        border-radius: 2rem;
        background-color: rgba(254, 101, 43, 0.99);

        box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);

        font: var(--regular-font);
        color: #fff;

        transition: .3s;

        &:disabled {
          background-color: rgba(196, 196, 196, 1);
          color: #000;
        }
      }

      p {
        margin: 0.5rem 0 1rem;

        font: var(--regular-font);
        color: rgba(254, 101, 43, 0.99);
      }
    }
  }

  button {
    width: 10rem;
    height: 4rem;
    text-align: center;

    outline: none;
    border: 2px solid #000;
    border-radius: 2rem;
    background-color: rgba(254, 101, 43, 0.99);

    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 1);

    font: var(--regular-font);
    color: #fff;

    transition: .3s;

    &:disabled {
      background-color: rgba(196, 196, 196, 1);
      color: #000;
    }
  }

  img:nth-child(4) {
    width: 7.9375rem;
    height: 6.125rem;
    margin-top: 0.5rem;
  }
}
