@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --regular-font: 400 1rem 'Poppins', sans-serif;
  --bold-font: 600 1rem 'Poppins', sans-serif;
}

body {
  min-height: 100vh;

  background-color: rgba(75, 105, 253, 1);
  border: 2px solid #000;
}
